[submodule "wp-content/plugins"]
	path = wp-content/plugins
	url = https://github.com/lxndr-v/plugins.git
[submodule "wp-content/themes"]
	path = wp-content/themes
	url = https://github.com/lxndr-v/themes.git/
